.userContainer {
  margin: 20px;
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
}
.userContainer h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 400px;
}
.userListContainer {
  border: 1px solid black;
  width: 420px;
  margin-left: 20px;
  margin-top: 20px;
}
