.prodcutsContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.prodcutsContainer div {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  text-align: center;
}
.prodcutsContainer img {
  width: 180px;
  height: 180px;
}
